SECRET_KEY=your-secret-key
INVITE_CODE_ENABLED=true
INVITE_CODE=my-invite-code
REGISTRATION_ENABLED=true
DB_URL=sqlite://db.sqlite3
EMAIL_AUTH_ENABLED=false
USERS_PER_PAGE=10
DASHBOARD_TEXT="This is the admin dashboard."
SessionMiddlewareSecret="super-secret-key"
POSTGRES_DB="POSTGRES_DB"
POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
PGDB_HOST="postgres"
PGDB_PORT=5432
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="Password12345"
ADMIN_EMAIL="admin@example.com"
SessionMiddlewareSecret="super-secret-key"