SECRET_KEY=your-secret-key
INVITE_CODE_ENABLED=true
INVITE_CODE=my-invite-code
REGISTRATION_ENABLED=true
DB_URL=sqlite://db.sqlite3
EMAIL_AUTH_ENABLED=false
USERS_PER_PAGE=10
DASHBOARD_TEXT="This is the admin dashboard."
SessionMiddlewareSecret="super-secret-key"
POSTGRES_MAIN_DB="POSTGRES_MAIN_DB"
POSTGRES_MAIN_USER="POSTGRES_MAIN_USER"
POSTGRES_MAIN_PASSWORD="POSTGRES_MAIN_PASSWORD"
PGDB_MAIN_HOST="pgdb_main"
PGDB_MAIN_PORT=5432
POSTGRES_USER_DB="POSTGRES_USER_DB"
POSTGRES_USER_USER="POSTGRES_USER_USER"
POSTGRES_USER_PASSWORD="POSTGRES_USER_PASSWORD"
PGDB_USER_HOST="pgdb_user"
PGDB_USER_PORT=5432
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"
ADMIN_EMAIL="admin@example.com"
SessionMiddlewareSecret="super-secret-key"
FERNET_KEY="6fkMW4KEi2Neq1gx-UbPdiGYwPDw8I6VDb0kS9T4klA="
MAX_USER_DB_QUOTA_MB = 500
MAX_DB_PER_USER = 3
PGADMIN_EMAIL="admin@example.com"
PGADMIN_PASSWORD="PGADMIN_PASSWORD"
PGADMIN_LISTEN_PORT=5050
GITEA_DOMAIN=gitea.local
GITEA_API_URL=http://gitea:3000
GITEA_ADMIN_TOKEN=token
mem_limit="512m"
cpu_quota=50000
db_url="http://localhost:5050/"